<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="form-div">
        <h1 class="form-name">Register</h1>
        <form>
            <input class="form-input" type="email" placeholder="Email Address">
            <input class="form-input" type="password" placeholder="Password">
            <button class="form-btn" type="submit">Register</button>
        </form>
    </div>
    
    <script src="/js/auth.js"></script>
</body>
</html>